/*
 * Common stylesheet for the ISSM IDG KMC website.
 */
/* Sticky footer. Do not change.
 * ----------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 100px;
  /* bottom = footer height */
}
#footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
}
